extends layout

block content
  h1= title
  p Welcome to #{title}
  <div id="wistia_4xledpdgdp" class="wistia_embed" style="width:640px;height:360px;" data-video-width="640" data-video-height="360">&nbsp;</div>
  script(charset="ISO-8859-1" src="//fast.wistia.com/assets/external/playlist-v1.js")
  script(src='/javascripts/script.js')
