doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(charset="ISO-8859-1" src="//fast.wistia.com/assets/external/playlist-v1.js")
    script(src='http://fast.wistia.net/static/embed_shepherd-v1.js')
    script(src='/javascripts/script.js')
  body
    block content
