doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='http://fast.wistia.net/static/embed_shepherd-v1.js')
    script(src='/javascripts/script.js')
  body
    block content
